/.vscode
/backups
/coremods
/CustomSkinLoader
/crash-reports
/fancymenu_data
/fancymenu_setups
/icon.png
/local
/logs
/modernfix
/options.txt
/patchouli_books
/patchouli_data.json
/resourcepacks
/rhino.local.properties
/saves
/schematics
/screenshots
/server-resource-packs
/shaderpacks
/texturepacks
/usercache.json
/usernamecache.json
/XaeroWaypoints
/XaeroWaypoints_BACKUP032021
/XaeroWorldMap
/同步.sh
/CustomMachinery.md
/.minecraft.zip
/.VSCodeCounter
kubejs/startup_scripts/@recipes
/仓库
/cherishedworlds-favorites.dat
NC补丁.zip
servers.dat
servers.dat_old
config/oculus.properties
BTLib.dll
ESM
data/fabricDefaultResourcePacks.dat
fabricloader.log
config/fabric/indigo-renderer.properties
mods
exports